---
---
a {
	text-decoration: none;
	color: #000;
}

h1 {
	font-size: 2em;
	margin: 0 0 10px 0;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: .8em;
}

.sidebar, .sharing, footer, .post-body, nav, img, time, .take-me {
	display: none;
}

ul, ol {
	padding-left: 17px;
	margin: 0;
}

ol li {
	margin: 10px 0 0 0;
}


