<h1><a href="{{ site.url }}">Cookieblues</a></h1>

<p>
    I'm a data science student at ITU with a bit of experience in mathematics.<br><br> E-mail: shro@itu.dk.
</p>


<h5 class="side">CATEGORIES</h5>
<p class="side">
    <a href="{{ site.url }}/pages/cats/bslialo">Linear Algebra and Optimisation</a>
    <a href="{{ site.url }}/pages/cats/bsmalea">Machine Learning</a>
</p>

<h5 class="side">ARCHIVES</h5>
{% for post in site.categories.pages %}
    <p class="side">
        <a href="{{ post.url }}">
            {{post.date | date: '%d %b, %Y' }} - {{post.title}}
        </a>
    </p>
{% endfor %}
